.search-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;

    &__input {
        border: none;
        border-radius: 30px;
        padding: 20px;
        width: 400px;
        -webkit-box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        -moz-box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus, &:hover {
            -webkit-box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
        }
    }

    &__button {
        background: white;
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        -webkit-box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        -moz-box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        box-shadow: 0px 11px 24px -12px rgba(66, 68, 90, 0.59);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus, &:hover {
            -webkit-box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 24px -5px rgba(255, 255, 255, 1);
        }
    }
}
